html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     border: 0px none;
     margin: 0px;
     padding: 0px;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body, html {
     color: #000;
     font-family: "Lato",sans-serif;
     font-size: 16px;
     height: 100%;
     line-height: 1.2;
     margin: 0px;
     padding: 0px;
     text-align: left;
}

ol, ul {
     list-style: outside none none;
}

blockquote, q {
     quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0px;
}

*, *::before, *::after {
     box-sizing: border-box;
}

.clearfix::after {
     clear: both;
     content: "";
     display: table;
}

#wrapper{
    position: relative;
    width:100%;
    
}


a{
 color:#1696d2;
 text-decoration: none;
   
}

a:hover{
 color:#000;
 text-decoration: none;    
    
}

/**********************HOMEPAGE STYLES*********************************/

h1{
    font-weight: 700;
    font-size:35px;
    color:#000;
    margin-bottom: 5px;
}

.credits{
  font-size:12px;
    text-transform: uppercase;
    color:#666;
    padding-bottom: 30px;
  
}

h4 /*white and uppercase label for stories on homepage*/{
    color:#fff;
    text-transform:uppercase;
    font-weight:300;
    font-size:20px;
}


.about{  
    font-size:15px;
     color:#666;
    margin-right:15px;
}

#project_credits .half{
    width:46%;
}


#project_credits h3{
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 5px;
        text-transform: uppercase;

}

#project_credits .emphasis{
 font-size:15px;
 color:#666;
}



/*sidebar structure */
#sidebar{
    width: 250px;
    height: 97%;
    position: fixed;
    top: 24px;
    bottom: 0;
    padding: 0;
    margin: 0;
    display: inherit;
}


#sidebar ul{
height: 100%;
    padding:0;
    margin:0;
    
}



#sidebar ul li {
    list-style: none;
    background-color:#fff;
    float: left;
    width:250px;
    height: 33%; /* fallback for non-calc() browsers */
   height: calc(100% / 3);
    box-sizing: border-box;  
    text-transform: uppercase;
    color:#fff;   
}



.lowercase{
    text-transform: lowercase;
}


#sidebar p{
color: #e6e6e6;
margin-left: 15px; 
font-size:14px;

}


#photo1 {
    background-image: url(../img/photo1.jpg);
    background-repeat:no-repeat;
    background-size: cover;  
    
}

#photo2{
    background-image: url(../img/photo2.jpg);
        background-repeat:no-repeat;  
    background-size: cover;  
}

#photo3{
    background-image: url(../img/photo3.jpg);
        background-repeat:no-repeat;
      background-size: cover;  
}

#photo4{
    background-image: url(../img/photo1.jpg);
        background-repeat:no-repeat;
      background-size: cover;  
}

#photo1 a, #photo2 a, #photo3 a, #photo4 a{
    width:100%;
    height:100%;
    display: block;
      color:#fff;
     background-color: rgba(0, 0, 0, 0.3);
    border-bottom: solid 1px #fff;
}

#photo1 a:hover, #photo2 a:hover, #photo3 a:hover, #photo4 a:hover{
     background-color: rgba(22, 150, 210, 0.7);

   
}



/*sidebar story title alignments */

#photo1 h4{
position: absolute;
bottom: 78%;
margin-left: 50px;
}

#photo2 h4{
 position: absolute;
    bottom: 45%;
    margin-left: 37px;     
}

#photo3 h4{
   position: absolute;
    bottom: 13%;
    margin-left: 20px;    
}

#photo4 h4{
 position: absolute;
    bottom: 13%;
    margin-left: 21px;     
}


/*general topic labels*/
#photo1 p{
position: absolute;
bottom: 78%;
}

#photo2 p{
position: absolute;
bottom: 53%;
}

#photo3 p{
position: absolute;
bottom: 28%;
}

#photo4 p{
position: absolute;
bottom: 3%;
}



/*sidebar icon placement*/
#sidebar img{
margin-left: 15px;
margin-top: 10px;
}


#photo1 img{
    position: absolute;
    bottom: 78%;
}

#photo2 img{
    position: absolute;
    bottom: 53%;    
}
#photo3 img{
     position: absolute;
    bottom: 28%;   
}
#photo4 img{
     position: absolute;
    bottom: 3%;   
}

/* wrapper that holds the homepage intro text written by Serena Lei*/
#homecontainer{
width:950px;
margin:0 auto;
padding-left:250px;
padding-top:300px;

}

#homecontainer p{
margin-bottom:15px;
}


/**********************************HOMEPAGE STYLES CLOSE****************************/




/* GENERAL TEXT STYLES */

p{
    color:#000;   
}

.lead{
    font-size:19px;  
}

.emphasis{
    font-style: italic; 
}

.bold{
    font-weight:700;
    
}

.grey{
 color:#666;
}

.upper{
    text-transform: uppercase;
}



.readmore{
    font-weight: 700;
}






/*menu for smaller screens*/

#mobilenavcontainer{
    display: none;
}


.show-menu {
	display: none;
    margin-top:50px;

}


/*Style for menu links*/
ul#menu li a {
    display: block;
    min-width: 140px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    height: 36px;
    padding-top: 8px;
}

/*Hover state for top level links*/
ul#menu li:hover a {
  color: #0096d2;
}

/*Style for dropdown links*/
ul#menu li:hover ul a {
	background: #333;
color:#fff;
border-right-color: #222;
    border-right:1px solid;
    border-color: #222;
    border-top:5px solid;
    border-top-color:#222;
}





/**********twitter styles******/
.callOut{
  font-size:27px;
  color:#666;
    font-weight: 300;
    margin-top:20px;
    margin-bottom:20px;
    padding:3px;
    background-color:#fff;
    line-height: 1.4;

    
}


.callOut a{
   color:#fff;
    background-color:#1696d2;
}
.callOut a:hover{
    color:#fff;
    background-color:#000;
}

.twittercallout{
float: right;
width: 40%;
padding: 0px 0px 50px 30px;
    
}



/*************************************** story page **********************************/


/*image at top of each story*/
.leadimage{
  height:400px;
  width:100%;
    position: relative;
    top:80px;
    
}


/*close image at top of each story*/

#MS{
    background-image: url(../img/MS/4T3A4847.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#DC{
    background-image: url(../img/DC/20160601_DCPNI_Thompson_0364-header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#CA{
    background-image: url(../img/CA/20160523_Promise-Neighborhoods-SF_Thompson_0043-header.jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
}




#header{
    top: 50px;
    position: fixed;
    width: 295px;
    z-index: 20;
    height: 50px;
    background-color: rgba(255,255,255,.7);
}

nav{
margin-left: 20px;
margin-top:10px;
}

nav img{
padding-right:5px;
}


.storywrapper{
width:950px;
margin:0 auto;
padding-top:80px;
}

.container{
width: 700px;
margin: 0 auto;
padding: 45px 30px 25px;
clear: both;
}
    

 
.date{
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    padding-bottom: 15px;
    margin-top: 0px;
}



/*story title */  
H2{
    font-style: italic;
    font-size:32px;
    color:#1696d2;
    font-weight: 400;
}



/*subhead title */  
h3{
    font-size:22px;
    font-weight: 300;
    padding-bottom: 30px;
}


h5{
 font-size:18px;
 text-transform: none;
    font-weight: 400;
}

/*story summary*/
h6{

 font-size:16px;
 text-transform: none;
  font-weight: 400;
   
}


.sectionpadding{
    padding-top:25px;
    padding-bottom:10px;
}
/*story social */
.social{
    width: 175px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.social a{
margin-right:5px;
    
}

.social a:hover{
    opacity: .5;
    
}
/*close story social */




/*paragraph spacing for body copy*/
.container p{
margin-bottom:15px;
}


/*image that goes the full width of wrapper*/
.full{
    width:100%;
}

/*image that goes the half width of wrapper. */
.half{
    width:49.5%;
    margin-top:3px;
    margin-bottom: 10px;
}

/*image that goes 65% width of wrapper. */
.overhalf{
    width:65%;
    margin-top:3px;
    margin-bottom: 10px;
}

/*image that goes the half width of wrapper. */
.quarter{
    width:30%;
    margin-top:3px;
    margin-bottom: 10px;
}
.left{
    float:left;
}

.right{
    float:right;
}



/**************caption styles*************/

figcaption{
font-size: 13px;
color:#666;
line-height: 1.3;

}

/*mobile captions hidden so that when images go from side by side to stacked the caption labels make sense*/
.desktop_caption{
display: block; 
    
}

.mobile_caption{
    display: none;
}

/* OPEN styles for vertical images that are floated left with a caption*/

#nfp1 {
width:100%;
margin-bottom: 10px;
}

.figureHalfLeftSpacing{
   margin-right:25px;
   margin-bottom:50px; 
}

.figureHalfLeftSpacingShallow{
   margin-right:25px;
   margin-bottom:25px; 
}


.figureHalfRightSpacing{
   margin-left:25px;
   margin-bottom:50px; 
}

/* CLOSE styles for vertical images that are floated left with a caption*/


/*spacing for full width images with captions directly below them*/
#nfp7, #nfp8, #nfp9{
 margin-bottom: 10px;   
}

/*spacing for full width images with captions that are stacked*/
.belowcaption_forty{
 margin-bottom: 40px;   
}



/*********table styles************/
.demo_style /*styles for the demogrphaics section*/
{
    color:#666;
    font-weight: 400;
    width:100%;
    margin-top:50px;
   margin-bottom:50px;
}
    .mobile_demo_style{
        display:none;
}

.demo_spacing/*ul spacing for the demographics section*/
{
margin-bottom: 14px;
    margin-top: 2px;
    font-size: 14px;
}

.demo_style p{
    font-size:12px;
    color:#666;
    margin-top: 20px;
}
th{
     padding-bottom:15px;
    padding-top:15px;
    border-bottom: 1px solid #dddddd; 
     border-top: 1px solid #dddddd; 
    margin-bottom: 30px;
}

td{
 padding:10px 80px 7px 4px;
 border-bottom: 1px solid #dddddd;
}

td.bottom{
    border-bottom: none; 
}
 
td.mission{
   padding:10px 0px;  
}
.space_right{
    padding-right:10px;
}


.smtablelabel{
    font-size:12px;
    color:#999;
    font-weight: 400;
}



/*pull quote styles*/

.pull{
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    color:#1696d2;
    margin-bottom: 10px;
    margin-left:20px;
}

.attribute{
    font-size:14px;
    color:#666;
    line-height: 1.3;
}
/*close pull quote styles*/


/*next story button*/
#nextstory {
background-color: #1696d2;
    border: medium none;
    color: #ffffff;
    position: fixed;
    text-align: left;
    display: inline;
    right: -160px;
    top: 530px;
    font-family: lato;
    font-size: 35px;
    font-weight: 400;
    padding: 5px 0px 5px 10px;
    width: 210px;
    height: 65px;
    transition: all.5s;
}


#nextstory a{
 text-decoration: none;
 color:#000000;     
    
}

#nextstory .fa{

}



.hidden{
display: none;
  
}


.hidden .emphasis{
  font-size: 16px;
      font-weight: 400;
    text-transform: none;
    text-transform: none;
    
}

#nextstory:hover{
 background-color:#000000;
 cursor:pointer;
    right: 0px;
 width: 210px;
    height: 65px;

}
#nextstory:hover .hidden{
    display:inline-block;
      font-size: 14px;
    color: #fff;
    position: relative;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
    left: 5px;
    top: 5px;
   
}
/***********next story button ******************/





/****************previous story button *******************/
#prevstory {

background-color: #1696d2;
    border: medium none;
    color: #ffffff;
    position: fixed;
    text-align: right;
    display: inline;
    left: -160px;
    top: 530px;
    font-family: lato;
    font-size: 35px;
    font-weight: 400;
 padding: 7px 10px 5px 10px;
    width: 210px;
    height: 65px;
    transition: all.5s;

}

#prevstory a{
 text-decoration: none;
 color:#000000;     
    
}


.hidden{
    display: none;
  
}


.hidden .emphasis{
  font-size: 16px;
      font-weight: 400;
    text-transform: none;
    text-transform: none;
    
}

#prevstory:hover{
 background-color:#000000;
 cursor:pointer;
    left: 0px;
 width: 210px;
    height: 65px;
    text-align: left;

}
#prevstory:hover .hidden{
    display:inline-block;
      font-size: 14px;
    color: #fff;
    position: relative;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
    left: 5px;
    top: 5px;
}
/***********************/


.storywrapper ul{
line-height: 1.5;
  /*   margin-top:15px;
   margin-bottom:40px;*/
}





/*browser windows smaller than 1100px*/
@media (max-width: 1050px) {
	
#homecontainer{
width: 850px;
margin: 0 auto;
padding-left: 249px;
padding-top: 250px;}

}


@media (max-width: 950px) {
.storywrapper{
width:100%;
margin:0 auto;
padding-top:45px;
}
    
#homecontainer{
width: 650px;
margin: 0 auto;
padding-left: 249px;
padding-top: 250px;

}

    
.captions, figcaption{
        padding-left:30px;
        padding-right: 30px;
}
    
.leadimage {
height: 300px;
width: 100%;
}

    .twittercallout{
float: right;
width: 65%;
padding: 0px 0px 50px 30px;
    
}
    
    #project_credits .half{
    width:100%;
}


    
    

/*browser windows smaller than 850px*/
@media (max-width: 850px) {
	
#homecontainer{
max-width: 600px;
width:100%;
margin: 0 auto;
padding-left: 225px;
padding-top: 200px;
}


/*browser windows smaller than 850px*/
@media (max-width: 699px) {
	
#homecontainer{
width: 100%;
margin: 0 auto;
padding: 90px 25px 110px;
}
  
#subhead {
display: none;
}
    
    
#mobilenavcontainer {
width: 100%;
position: relative;
top: 0px;
height: 45px;
       

    
}
    .show-menu{
    display: block;
    width: 100%;
    position: fixed;
    text-decoration: none;
    color: #fff;
    background: #0096d2;
    text-align: center;
    padding: 10px 0;
   
        
    } 
    
    
/*Hide checkbox*/
input[type=checkbox]:unchecked ~ #menu{
display: none;
visibility:hidden;

    
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
    position: absolute;
    top: 85px;
    width: 100%;
    height: 150px;
       z-index: 10;
   
}
    
ul#menu {
float:none;
display: none;   
}
    
.storywrapper{
width:100%;
margin:0 auto;
padding: 0px 0px 45px;
}

.container{
width:100%;
margin:0 auto;
padding:85px 30px 45px;
}

    h2{
        font-size:26px;
    }
    
    #prevstory, #nextstory{
        top:490px;
    }
#sidebar{
display: none;
}
 
    #mobilenavcontainer, .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
 .urbanHeaderLabel{
    display:none;
}

.urbanHeaderLabelMobile{
    display:inline-block;
}   


#wrapper{
width: 85%;
margin: 0 auto;
}
    
    
    
.leadimage {
height: 250px;
width: 100%;
position: relative;
top: 40px;
}

.half{
    width:100%;
    margin-bottom: 10px;
}
    
.forty{
width:100%;  
 }
  
.overhalf{
    width:100%;

}
    
    
#nfp3{
    margin-bottom:3px;
}
    
#nfp{
    background-image: url(img/nfp/mobilestart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.desktop_caption{
display: none; 
    
}

.mobile_caption{
display: block;
}
    
    
/*this makes the left and right buttons much smaller on mobile devices*/  
#prevstory {
left: -180px;
font-size: 25px; 
}
    
#nextstory {
right: -180px;
font-size: 25px; 
}  
    
.fa{    line-height: 2;}
    
}

    
    
    
 @media (max-width: 550px) {   
.demo_style{
    display:none;   
    }
     
    .mobile_demo_style{
        display:block;
        color:#666;
        font-size:13px;
    }
     
     td {
    padding: 10px 30px 10px 0px;
    border-bottom: 1px solid #dddddd;
}
    
     td.mission{
 padding: 10px 5px 5px 0px;
     }

     td.bottom{
         padding-top:15px;
         padding-bottom:35px;
     }
    }
    
@media (max-width: 450px) {
    .reddotsmall{
  display: block;
  margin:0 auto;
    width:100%;
}
    
    #shareMaster{
position: absolute;
right: 0px;
top: 0px;
    }
    
    
#socials{

position: absolute;
right: 24px;
width: 45px;
background-color: #fff;
padding: 5px 25px 5px 20px;
top: 50px;
}
 
.callOut{
  font-size:22px;
  color:#666;
    font-weight: 300;
    margin-top:20px;
    margin-bottom:20px;
    padding:3px;
    background-color:#fff;
    line-height: 1.4;

    
}



    
@media (min-width: 1600px){
    .leadimage{
  height:500px;
  width:100%;
    
}
    
}